body{
  background-image: linear-gradient(to right, rgb(238, 0, 255) , rgb(76, 168, 189), rgb(148, 76, 189) );
  
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper{
  background-color: white;
  width:400px;
  border-radius: 24px;
  margin-top: 15px;

}

.row{
  display:flex;
}